<%= form_for(@local) do |f| %>
  <% if @local.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@local.errors.count, "error") %> prohibited this local from being saved:</h2>

      <ul>
      <% @local.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table border="1" width="30%">
  <tr><td><%= f.label :nombre %><br /></td>     <td><%= f.text_field :nombre %></td></tr>
  <tr><td><%= f.label :direccion %><br /></td>  <td><%= f.text_field :direccion %></td></tr>
  <tr><td><%= f.label :distrito %></td>         <td><%= f.text_field :distrito %></td></tr>
  <tr><td><%= f.label :direcc_google %></td>    <td><%= f.text_field :direcc_google %></td></tr>
  <tr><td><%= f.label :telefono %></td>         <td><%= f.text_field :telefono %></td></tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
