<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @local.nombre %>
</p>

<p>
  <b>Direccion:</b>
  <%= @local.direccion %>
</p>

<p>
  <b>Distrito:</b>
  <%= @local.distrito %>
</p>

<p>
  <b>Direcc google:</b>
  <%= @local.direcc_google %>
</p>

<p>
  <b>Telefono:</b>
  <%= @local.telefono %>
</p>


<%= link_to 'Edit', edit_local_path(@local) %> |
<%= link_to 'Back', locals_path %>
