<%= form_for(@servicio) do |f| %>
  <% if @servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@servicio.errors.count, "error") %> prohibited this servicio from being saved:</h2>

      <ul>
      <% @servicio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <table border="1" width="30%">
  <tr><td><%= f.label :tipo %></td>     <td><%= f.text_field :tipo %></td></tr>
  <tr><td><%= f.label :descripcion %><br /></td>  <td><%= f.text_field :descripcion %></td></tr>
  <tr><td><%= f.label :tarifa %></td>         <td><%= f.text_field :tarifa %></td></tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
