<h1>Listing coments</h1>

<table>
  <tr>
    <th>Texto</th>
    <th>Calificacion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coments.each do |coment| %>
  <tr>
    <td><%= coment.texto %></td>
    <td><%= coment.calificacion %></td>
    <td><%= link_to 'Show', coment %></td>
    <td><%= link_to 'Edit', edit_coment_path(coment) %></td>
    <td><%= link_to 'Destroy', coment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coment', new_coment_path %>
