<p id="notice"><%= notice %></p>

<p>
  <b>Texto:</b>
  <%= @coment.texto %>
</p>

<p>
  <b>Calificacion:</b>
  <%= @coment.calificacion %>
</p>


<%= link_to 'Edit', edit_coment_path(@coment) %> |
<%= link_to 'Back', coments_path %>
