<%= form_for(@publicidad) do |f| %>
  <% if @publicidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publicidad.errors.count, "error") %> prohibited this publicidad from being saved:</h2>

      <ul>
      <% @publicidad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table border="1" width="50%">
  <tr><td><%= f.label :titulo %></td>     <td colspan = "3"><%= f.text_field :titulo %></td></tr>
  <tr><td><%= f.label :contenido %></td>  <td colspan = "3"><%= f.text_field :contenido %></td></tr>
  <tr>
  <td><%= f.label :fechainicio %></td>  
  <td><%= f.date_select :fecinicio %></td>
  <td><%= f.label :fechafin %></td>
  <td><%= f.date_select :fecfin %></td>
  <tr>
  <td><%= f.label :tarifa %></td>     
  <td><%= f.text_field :tarifa %></td>
  <td><%= f.label :numclics %></td>
  <td><%= f.number_field :numclics %></td>
  </tr>
  <tr>
  <td><%= f.label :ubicacion %></td>  
  <td colspan = "3">
  <SELECT NAME="selCombo" SIZE=1 onChange="javascript:alert('prueba');"> 
  <OPTION VALUE="PaginaPrincipal">Principal</OPTION>
  <OPTION VALUE="PaginadelCliente">Cliente</OPTION>
  <OPTION VALUE="PaginadelDueno">Dueno</OPTION>   
</SELECT> 
</td>
  </tr>
  </table>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
