<%= form_for(@persona) do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% @persona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <TABLE BORDER="8" width="50%"> 
<TR> 
   <TD width="25%"><%= f.label :tipo %></TD>
<TD  colspan= "3">  
<SELECT NAME="persona[tipo]" id="persona_tipo"> 
<OPTION VALUE="1">Cliente</OPTION>
<OPTION VALUE="2">Dueno</OPTION> 
</SELECT> 
</TD> 
</TR> 
<TR> 
   <TD ><%= f.label :nombres %></div></TD> 
   <TD colspan= "3">
   <div class="row">
   <%= f.text_field :nombre %>  
   </div>
   
   </TD> 
 
</TR> 
<TR> 
   <TD><%= f.label :apepat %></TD> 
   <TD colspan= "3"><%= f.text_field :apepat %></TD> 
</TR>
<TR> 
   <TD width="25%"><%= f.label :apemat %></TD> 
   <TD colspan= "3"><%= f.text_field :apemat %></TD> 

</TR>
<TR> 
   <TD width="25%"><%= f.label :sexo %></TD> 
<TD width="25%" colspan= "3">   
<class="field">
<SELECT NAME="persona[sexo]" id="persona_sexo" SIZE=1 ;"> 
<OPTION VALUE="M">Masculino</OPTION>
<OPTION VALUE="F">Femenino</OPTION> 
</SELECT> 
</TD> 
</TR>
<TR > 
   <TD width="25%"><%= f.label :tipdoc %></TD> 
<TD width="25%">   
<class="field">
<SELECT NAME="persona[tipdoc]" id="persona_tipdoc" SIZE=1 onChange="javascript:alert('prueba');"> 
<OPTION VALUE="DNI">Dni</OPTION>
<OPTION VALUE="CE">Carnet Extranjeria</OPTION> 
</SELECT> 
</TD> 
<TD width="25%"><%= f.label :numdoc %>
</TD>
<TD width="25%"><%= f.text_field :numdoc %>
</TD>
</TR>
<TR> 
   <TD width="25%"><%= f.label :correo %></TD> 
   <TD colspan= "3"><%= f.text_field :correo %></TD> 
</TR>
<TR> 
   <TD width="25%"><%= f.label :password %></TD> 
   <TD width="25%"><%= f.text_field :password %></TD> 
   <TD width="25%"><%= f.label :fecnac %>
</TD>
&nbsp<TD width="25%"><%= f.date_select :fecnac %>
</TD>
</TR>
<TR> 
   <TD width="25%"><%= f.label :telefono %></TD> 
   <TD width="25%" colspan= "3"><%= f.text_field :telefono %></TD> 
</TR>      
</TABLE> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
