<p id="notice"><%= notice %></p>

<p>
  <b>Tipo:</b>
  <%= @persona.tipo %>
</p>

<p>
  <b>Nombre:</b>
  <%= @persona.nombre %>
</p>

<p>
  <b>Apepat:</b>
  <%= @persona.apepat %>
</p>

<p>
  <b>Apemat:</b>
  <%= @persona.apemat %>
</p>

<p>
  <b>Sexo:</b>
  <%= @persona.sexo %>
</p>

<p>
  <b>Tipdoc:</b>
  <%= @persona.tipdoc %>
</p>

<p>
  <b>Numdoc:</b>
  <%= @persona.numdoc %>
</p>

<p>
  <b>Correo:</b>
  <%= @persona.correo %>
</p>

<p>
  <b>Password:</b>
  <%= @persona.password %>
</p>

<p>
  <b>Fecnac:</b>
  <%= @persona.fecnac %>
</p>

<p>
  <b>Telefono:</b>
  <%= @persona.telefono %>
</p>




<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
