<%= form_for(@cancha) do |f| %>
  <% if @cancha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cancha.errors.count, "error") %> prohibited this cancha from being saved:</h2>

      <ul>
      <% @cancha.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <table border="1" width="10%">
  <tr><td><%= f.label :nombre %></td><td colspan= "5"><%= f.text_field :nombre %></td></tr>
  <tr><td><%= f.label :caracteristica %></td><td colspan= "5"><%= f.text_area :caracteristica %>      </td></tr>
  <tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td align ="center"><%= f.label :Tarifa1 %></td>
  <td align ="center"><%= f.label :Tarifa2 %></td>
  </tr>
  <tr>
  <td><%= f.check_box :alunes %></td>
  <td><%= f.label :alunes %></td>
  <td><%= f.label :hLunes %></td>
  <td><%= f.text_field :hLunes %></td>
  <td><%= f.text_field :lunesT1 %></td>
  <td><%= f.text_field :lunesT2 %></td>
  </tr>
  <tr>
  <td><%= f.check_box :amartes %></td>
  <td><%= f.label :amartes %></td>
  <td><%= f.label :hMartes %></td>
  <td><%= f.text_field :hMartes %> </td>
    <td><%= f.text_field :martesT1 %></td>
  <td><%= f.text_field :martesT2 %></td>
  </tr>
  <tr>
  <td><%= f.check_box :amiercoles %></td>
  <td><%= f.label :amiercoles %></td>
  <td><%= f.label :hMiercoles %></td>
  <td><%= f.text_field :hMiercoles %> </td>
    <td><%= f.text_field :miercolesT1 %></td>
  <td><%= f.text_field :miercolesT2 %></td>
  </tr>
  <tr>
  <td><%= f.check_box :ajueves %></td>
  <td><%= f.label :ajueves %></td>
  <td><%= f.label :hJueves %> </td>
  <td><%= f.text_field :hJueves %></td>
  <td><%= f.text_field :juevesT1 %></td>
  <td><%= f.text_field :juevesT2 %></td>
  </tr>
  <tr>
  <td><%= f.check_box :aviernes %></td>
  <td><%= f.label :aviernes %></td>
  <td><%= f.label :hViernes %></td>
  <td><%= f.text_field :hViernes %> </td>
  <td><%= f.text_field :viernesT1 %></td>
  <td><%= f.text_field :viernesT2 %></td>
  </tr>
  <tr>
  <td><%= f.check_box :asabado %></td>
  <td><%= f.label :asabado %></td>
    <td><%= f.label :hSabado %></td>
  <td><%= f.text_field :hSabado %></td>
    <td><%= f.text_field :sabadoT1 %></td>
  <td><%= f.text_field :sabadoT2 %></td>
  </tr>
  <tr>
  <td><%= f.check_box :adomingo %></td>
  <td><%= f.label :adomingo %></td>
  <td><%= f.label :hDomingo %></td>
  <td><%= f.text_field :hDomingo %></td>
  <td><%= f.text_field :domingoT1 %></td>
  <td><%= f.text_field :domingoT2 %></td>
  </tr>
  <tr>
  <td><%= f.label :promocion %></td>
  <td colspan = "5"><%= f.text_area :promocion %></td>
  </tr>
  <tr>
  <td><%= f.label :foto %></td>
  <td colspan = "5"><%= f.text_field :foto %></td>

  </tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
