<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @cancha.nombre %>
</p>

<p>
  <b>Caracteristica:</b>
  <%= @cancha.caracteristica %>
</p>

<p>
  <b>Alunes:</b>
  <%= @cancha.alunes %>
</p>

<p>
  <b>Amartes:</b>
  <%= @cancha.amartes %>
</p>

<p>
  <b>Amiercoles:</b>
  <%= @cancha.amiercoles %>
</p>

<p>
  <b>Ajueves:</b>
  <%= @cancha.ajueves %>
</p>

<p>
  <b>Aviernes:</b>
  <%= @cancha.aviernes %>
</p>

<p>
  <b>Asabado:</b>
  <%= @cancha.asabado %>
</p>

<p>
  <b>Adomingo:</b>
  <%= @cancha.adomingo %>
</p>

<p>
  <b>Hlunes:</b>
  <%= @cancha.hLunes %>
</p>

<p>
  <b>Hmartes:</b>
  <%= @cancha.hMartes %>
</p>

<p>
  <b>Hmiercoles:</b>
  <%= @cancha.hMiercoles %>
</p>

<p>
  <b>Hjueves:</b>
  <%= @cancha.hJueves %>
</p>

<p>
  <b>Hviernes:</b>
  <%= @cancha.hViernes %>
</p>

<p>
  <b>Hsabado:</b>
  <%= @cancha.hSabado %>
</p>

<p>
  <b>Hdomingo:</b>
  <%= @cancha.hDomingo %>
</p>

<p>
  <b>Lunest1:</b>
  <%= @cancha.lunesT1 %>
</p>

<p>
  <b>Lunest2:</b>
  <%= @cancha.lunesT2 %>
</p>

<p>
  <b>Martest1:</b>
  <%= @cancha.martesT1 %>
</p>

<p>
  <b>Martest2:</b>
  <%= @cancha.martesT2 %>
</p>

<p>
  <b>Miercolest1:</b>
  <%= @cancha.miercolesT1 %>
</p>

<p>
  <b>Miercolest2:</b>
  <%= @cancha.miercolesT2 %>
</p>

<p>
  <b>Juevest1:</b>
  <%= @cancha.juevesT1 %>
</p>

<p>
  <b>Juevest2:</b>
  <%= @cancha.juevesT2 %>
</p>

<p>
  <b>Viernest1:</b>
  <%= @cancha.viernesT1 %>
</p>

<p>
  <b>Viernest2:</b>
  <%= @cancha.viernesT2 %>
</p>

<p>
  <b>Sabadot1:</b>
  <%= @cancha.sabadoT1 %>
</p>

<p>
  <b>Sabadot2:</b>
  <%= @cancha.sabadoT2 %>
</p>

<p>
  <b>Domingot1:</b>
  <%= @cancha.domingoT1 %>
</p>

<p>
  <b>Domingot2:</b>
  <%= @cancha.domingoT2 %>
</p>

<p>
  <b>Promocion:</b>
  <%= @cancha.promocion %>
</p>

<p>
  <b>Foto:</b>
  <%= @cancha.foto %>
</p>
<p>
  <b>Persona:</b>
  <%= @cancha.persona_id %>
</p>
<br>
<%= link_to 'Edit', edit_cancha_path(@cancha) %> |
<%= link_to 'Back', canchas_path %>
